@import url('https://fonts.googleapis.com/css?family=Roboto');

$sbpurple: #6f438e;
$sbpurple-lighter:#a88ebb;
$super-light-purple: #E9E2EE;
$sbblue: #211e61;
$sbgrey: #9e9e9e;
$sblight-grey: #F5F5F5;
$sbolive: #628e43;

* { 
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   line-height:1.4;
    
}

a {

    text-decoration: underline;
}

p {
    margin: 0.75 0;
}


// Utility Classes

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    // overflow: hidden;

}

.center-text {
    text-align:start;
}

.text-primary {


    color: #fff;
    // text-shadow: 3px 2px 4px $sbpurple;
}

.text-primary-1 { 
    
    color: $sbblue;
    // text-shadow: 3px 2px 1px rgb(24, 184, 220);
    
}

.text-primary-2 { 

    color: $sbgrey;
    text-shadow: 3px 2px 1px $sbpurple;
}
    
    .bg-light {

        background-color: $sblight-grey;
        color: $sbblue;
        
    }

    .bg-dark {

        background-color: $sbgrey;
        color: $sbblue;

    }

    .description {

        padding: 5px 0;

    }


// Navbar

nav {

    display: flex;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: $sbblue;
    // opacity: .7;
    color: $sbpurple;
    // border-bottom: $sbpurple solid 5px;
    box-shadow: 0 2px 10px black;
    justify-content: space-around;
    z-index: 1;


 img {

   width: 10em;
 }

}


#navbar {

    ul {

        display: flex;
        align-items: center;
        list-style: none;


        li {


            a {

                 color: #fff;   
                 padding: 0.75rem;
                 margin: 0.25rem;
                 text-decoration: none;
                 
                 

                 &:hover {

                    background: $sbpurple ;
                    border-radius: 5px;
                    
                 }

            }

            .events {

                background-color: transparent;
                border: $sbpurple solid;
                cursor: pointer;
                border-radius: 5px;
                
                &:hover {
                    color: $sbgrey;

                }
            }

        }

    }

    

}

// Social links
.social {

    width: 20%;
    justify-content: center;
    

    .fab {

        color:#fff;
        margin: 1rem .5rem;
        padding: 0.50rem;

        &:hover {

            color: $sbpurple-lighter;
            cursor: pointer;
        }

    }
    
    
    .fal {
       
        margin: 1rem .5rem;
        color: #fff;
        padding: 0.50rem;

        &:hover {

            color: $sbpurple-lighter;
            cursor: pointer;
        }
    }
}




// Showcase

    .showcase-container {


        background: url('https://res.cloudinary.com/dmwa55z8u/image/upload/v1607733115/E2551863-C12F-42AE-881C-32662967A72D_hnszof.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 88.5vh;
        color: rgb(193, 194, 172);
        

        .showcase-content {

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            // padding: 0 3rem;
            // Overlay
            position: relative;
            top: 0;
            left: 0;
            background-color: rgba(240,236,243, 0.09);
            animation: anim 3s .05s ;

            .fas {
                font-size: .6rem;
                padding: 5px;
            }

        } 

        .l-heading {

            font-size:4rem;
            margin-bottom:0.75rem;
            line-height: 1.1;
            

            .lead {

                font-size: 1.3rem;
                margin-bottom: 2rem;
                
                

            }

        }

    }

   
      
      @keyframes anim {
        0% {
            opacity: 0;
        }
      
        100% {  
            opacity: 100;
        }
      }

    //   @keyframes new-anim {
    //     0% {
    //         opacity: 0;
    //     }
      
    //     100% {  
    //         opacity: 100;
    //     }
    //   }


// About section
    
.trainers {

    display: flex;
    // border: $sbolive 1px solid;

    p {

        padding: 2rem ;
    }
    h3 {

        padding-bottom: 0 0 2rem 0;
    }
}

.trainer-photo {

    width: 8rem;
    height: 8rem;
    padding: 1rem;
    // border: $sbpurple solid 1px;
}


// Facility page 



.facility {

    padding: 2rem;
}

.facility-inside-container {
    
    display: flex;
    flex-direction: column;
    
}



.inside-facility-description {

       padding: 5px 0;
}



.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    ;
    // width: 100%;
    
    
    .item {

        // background-color: rgb(70, 62, 62);
        color:$sbpurple;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1rem;
        width:15rem;
        margin: 1rem;
        // border-radius: 15px;
        // border: #9e9e9e solid 1px;
        // box-shadow: 0 2px 5px black;
        

        p{

            padding: 3px;
        }

        li {

            margin: .5rem 1rem;
        }
        a{
            color:#fff;
            text-decoration: none;

            &:hover {

                
                background: $sbpurple ;
                border-radius: 2px;
                font-weight: 100;
                padding: 2px;
                color: #fff;

            }

           
        }
       
        .item-image {

            width: 16rem;
            height: 15rem;
            // border-radius: 15px;
            // height: 241px;
            padding-bottom: 1rem;

            
        }
        
    }
    
}



    .m-heading {

        font-size: 2rem;
        margin-bottom:0.75rem;
        line-height: 1.1;
        padding-top: 5rem;
    }

    

    .py-1 { padding: 1.5rem 0;}
    .py-2 { padding: 2rem 0;}
    .py-3 { padding: 4rem 0;}
    
    
// Services Page

.services {

        background-color: #EDE8F1 ;
        width: 100vw;
       
        

}

.services-container {

    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 2rem;
    // border: black solid 2px;

    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        ;
        // width: 100%;
        
        
        .item-serv {
    
            // background-color: rgb(70, 62, 62);
        color:$sbpurple;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1rem;
        width:15rem;
        margin: 1rem;
        // border-radius: 15px;
        // border: #9e9e9e solid 1px;
        // box-shadow: 0 2px 5px black;

            p {
                padding-top: .5rem;
                line-height: 1.1;
            }

            .item-image {

                width: 16rem;
            height: 15rem;
            // border-radius: 15px;
            // height: 241px;
            padding-bottom: 1rem;

                
                
            }
        }
    }    
}

.services-inside-container {

    width: 100%;
    height: 200px;
    padding-top: 2rem;
   

}


// Photos Page

.photo-container {

    width: 95%;
    margin: 2rem auto; 
    // border: black 2px solid;
    
        

}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;

   
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .gallery__item {

    &:hover {

        // display:block; 
        width: 600px;
    }
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  
    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
  }
  
  .gallery__item--4 {
    
  
    /** Alternative Syntax **/
    grid-column: 1 / span 4; 
    grid-row: 3 / span 3; 
  }
  
  .gallery__item--5 {
    
    grid-column: 1 / span 4;
    grid-row: 6 / span 3;
  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  
    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
  }






// Events Page


#events-page {

        // background-color: $sbgrey ;
         width: 100vw;
         height: 100vh;

}

// Contact information



// Contact Modal

/* The Modal (background) */
.contactModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .contact-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    
    h3 {

        text-decoration: underline;
        padding-bottom: .5rem;
    }

    

    
  }

  .contact-info-container {

    display: flex;
  }

  .contact-info {

    flex-direction: column;
    // padding: .5rem;

    a {

        text-decoration: none;
        // margin:.5rem;
    }

    .contact {

        margin-right: 3rem;
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


    


    