@import url('https://fonts.googleapis.com/css?family=Roboto');

$sbpurple: #6f438e;
$sbpurple-lighter:#a88ebb;
$super-light-purple: #E9E2EE;
$sbblue: #211e61;
$sbgrey: #9e9e9e;
$sbolive: #628e43;

* { 
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   line-height:1.4;
    
}

a {

    text-decoration: underline;
}

p {
    margin: 0.75 0;
}


// Utility Classes

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    // overflow: hidden;

}

.center-text {
    text-align: center;
}

.text-primary {


    color: #fff;
    // text-shadow: 3px 2px 4px $sbpurple;
}

.text-primary-1 { 
    
    color: #fff;
    text-shadow: 3px 2px 1px rgb(24, 184, 220);
    
    
  

        
    }
    


// Navbar

nav {

    display: flex;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: $sbblue;
    // opacity: .7;
    color: $sbpurple;
    // border-bottom: $sbpurple solid 5px;
    box-shadow: 0 2px 10px black;
    justify-content: space-around;
    z-index: 1;


 img {

   width: 10em;
 }

}


#navbar {

    ul {

        display: flex;
        align-items: center;
        list-style: none;


        li {


            a {

                 color: #fff;   
                 padding: 0.75rem;
                 margin: 0.25rem;
                 text-decoration: none;
                 
                 

                 &:hover {

                    background: $sbpurple ;
                    border-radius: 5px;
                    
                 }

            }

            .events {

                background-color: transparent;
                border: $sbpurple solid;
                cursor: pointer;
                border-radius: 5px;
                
                &:hover {
                    color: $sbgrey;

                }
            }

        }

    }

    

}

.social {

    width: 20%;
    justify-content: center;
    

    .fab {

        color:#fff;
        margin: 1rem .5rem;
        padding: 0.50rem;

        &:hover {

            color: $sbpurple-lighter;
            cursor: pointer;
        }

    }
    
    
    .fal {
       
        margin: 1rem .5rem;
        color: #fff;
        padding: 0.50rem;

        &:hover {

            color: $sbpurple-lighter;
            cursor: pointer;
        }
    }
}




// Showcase

    .showcase-container {


        background: url('https://res.cloudinary.com/dmwa55z8u/image/upload/v1607733115/E2551863-C12F-42AE-881C-32662967A72D_hnszof.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 88.5vh;
        color: rgb(193, 194, 172);
        

        .showcase-content {

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            // padding: 0 3rem;
            // Overlay
            position: relative;
            top: 0;
            left: 0;
            background-color: rgba(240,236,243, 0.09);
            animation: anim 3s .05s ;

        } 

        .l-heading {

            font-size:4rem;
            margin-bottom:0.75rem;
            line-height: 1.1;
            

            .lead {

                font-size: 1.3rem;
                margin-bottom: 2rem;
                

            }

        }

    }

   
      
      @keyframes anim {
        0% {
            opacity: 0;
        }
      
        100% {  
            opacity: 100;
        }
      }

    //   @keyframes new-anim {
    //     0% {
    //         opacity: 0;
    //     }
      
    //     100% {  
    //         opacity: 100;
    //     }
    //   }


    // #facility {

.bg-light {

     

    height: 85%;
    background-color: black;
    color: #fff;
    
}

.facility {

    padding: 2rem;
}

.facility-inside-container {
    
    display: flex;
    flex-direction: column;
    
}
.facility-description {

    padding: 5px 0;

    


}

.inside-facility-description {

       padding: 5px 0;
}



.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    ;
    // width: 100%;
    
    
    .item {

        // background-color: rgb(70, 62, 62);
        color:$super-light-purple;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1rem;
        width:30%;
        margin: 1rem;
        border-radius: 15px;
        border: #9e9e9e solid 1px;
        // box-shadow: 0 2px 5px black;
        

        p{

            padding: 3px;
        }

        li {

            margin: .5rem 1rem;
        }
        a{
            color:#fff;
            text-decoration: none;

            &:hover {

                
                background: $sbpurple ;
                border-radius: 2px;
                font-weight: 100;
                padding: 2px;
                color: #fff;

            }

           
        }
       
        .item-image {

            width: 275px;
            border-radius: 15px;
            // height: 241px;
            padding-bottom: 1rem;

            
        }
        
    }
    
}



    .m-heading {

        font-size: 2rem;
        margin-bottom:0.75rem;
        line-height: 1.1;
        padding-top: 5rem;
    }

    

    .py-1 { padding: 1.5rem 0;}
    .py-2 { padding: 2rem 0;}
    .py-3 { padding: 4rem 0;}
    
    
// Training Page

.training-page {

        background-color: $sbgrey ;
        width: 100vw;
        

}

.training-container {

    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-bottom: 2rem;
}

.training-top {

    width: 100vw;
    height: 200px;
    padding-top: 2rem;
    text-align: center;

}

.training-photos-1 img{

    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 25px;
    margin: .3rem;
    

}

.training-photos-2 img{

    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 25px;
    margin: .3rem;
    

}

.training-photos-3 img{

    width: 400px;
    border-radius: 25px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 25px;
   margin: .3rem;
    

}


#events-page {

        background-color: $sbgrey ;
        width: 100vw;
        height: 100vh;

}








    


    